* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.breadcrumb {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;
}

/* detail form */
.form-details {
    margin: 40px 65px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 0));
    gap: 2rem;
}

/* imgs box  */
.box-imgs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(102px, 2px));
    gap: 2px;
}

.imgs-left {
    display: grid;
    grid-row-gap: 2px;
}

.img-small img,
.imgs-right img {
    border: 1px solid #255840;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-small:hover {
    /* border: #000 1px solid; */
    transform: scale(1.03);
    border-radius: 10px;
}

/* text box  */
.text-details {
    padding: 15px;
    display: grid;
    grid-row-gap: 1rem;
}

/* product name */
.name-product {
    font-size: 20px;
    font-weight: 900;
}

/* description */

/* color  */
.color-product {
    display: flex;
}

.color-product .color {
    width: 20px;
    height: 20px;
    background: #000;
    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.color-product .color:nth-child(2) {
    background: #a1a1a1;
}

input[name="color"] {
    display: none;
}

/* type */
#type-model {
    padding: 5px;
}

/* quantity */
.box-number {
    display: flex;
}

.minus,
.numbers,
.plus {
    border: #a1a1a1 solid 1px;
    padding: 5px 10px;
}

.minus:hover,
.plus:hover {
    cursor: pointer;
    background: #e6e6e6;
}

/* btn add to cart */
.btn-addtocart,
.d-btn-addtocart {
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background: #e6e6e6;
}

.btn-addtocart:hover,
.d-btn-addtocart:hover {
    background: #255840;
    color: #fff;
    cursor: pointer;
}

/* info detail */

.info-detail {
    margin: 40px 65px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 1rem;
    height: fit-content;
}

.thong-so {
    border: 1px solid black;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: #e6e6e6 solid 1px;
}

.same-products {
    border: 1px solid black;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: #e6e6e6 solid 1px;
}

/* same product */
.box-product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
    gap: 1rem;
}

.card-product img.img-product {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

.card-product {
    border: 1px solid #e6e6e6;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-product img.img-product:hover {
    transform: scale(1.1);
}

.s-info-product {
    margin: 8px;
}

span.price-old,
span.price-new {
    color: black;
    font-size: 15px;
    font-weight: 700;
    cursor: default;
}

.s-name-product {
    margin-top: -13px;
    height: 70px;
    font-size: 15px;
}

span.price-old {
    color: #a1a1a1;
    text-decoration: line-through;
}

.s-name-product:hover {
    color: #255840;
}

.btn-addtocart {
    width: calc(100% - 20px);
    margin: 10px;
}

/* Thong so ky thuat */
.box-thongso {
    width: calc(100% - 21px);
    border: #e6e6e6 1px solid;
    margin: 10px;
    position: relative;
}

.box-thongso::after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 83%;
    background: #f6f6f6;
    z-index: -1;
}

li.item-content {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    border-bottom: #e6e6e6 solid 1px;
}

li.item-content:last-child {
    border-bottom: none;
}

li.item-content p.items {
    margin-right: 10px;
    font-weight: 700;
    width: 30%;
    /* Cho phép phần tử được ngắt xuống hàng khi vượt quá width cho phép */
    word-wrap: break-word;
}

.evalute-box {
    margin: 4rem !important;
    row-gap: 3rem !important;
    column-gap: 20px !important;
}

.list-evalute {
    border: #e6e6e6;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px !important;
}

.table-evalute {
    height: 100%;
    border: #e6e6e6;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px !important;
}

.star-evalute .text-eva {
    color: #a1a1a1;
    font-size: 10px;
    cursor: default;
}

.tbl-star-evalute .text-eva {
    color: #a1a1a1;
    font-size: 15px;
    cursor: pointer;
}

.tbl-star-evalute .text-eva:hover {
    color: #255840;
}

.tbl-star-evalute {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-top: 5px;
}

.tbl-star-evalute .star:first-child {
    margin-top: 2px;
}

.star {
    text-align: center;
}

.date-eva {
    color: #000 !important;
}

.info-evalute {
    margin-top: 10px !important;
    border-bottom: #a1a1a1 1px solid;
}

.th-top span:first-child i {
    color: #255840;
}

.name-eva {
    font-size: 20px;
}

.total-evalute h2,
.icon {
    text-align: center;
}

.total-evalute .icon span i {
    color: #a1a1a1;
}

.c-255840 {
    color: #255840 !important;
}

.btn-seemore {
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.btn-seemore:hover {
    background: #255840;
    color: #fff;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#comment {
    padding: 5px;
    width: 100%;
    border: #e6e6e6 1px solid;
}

.info-comment {
    column-gap: 3.95rem !important;
    margin-top: 10px !important;
}

.area-comment {
    margin-top: 10px;
}

.danh-gia {
    margin-top: 10px;
}

.i-name-eva,
.i-email-eva {
    border: #e6e6e6 solid 1px;
    padding: 5px;
}

.btn-danhGia {
    margin-top: 10px;
    background: #255840;
    padding: 10px 40px;
    border: none;
    float: inline-end;
    color: #fff;
}

.btn-danhGia:hover {
    background: #238456;
    cursor: pointer;
}
/* Code css bootstrap5 */
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

.star {
    display: inline-block;
    cursor: pointer;
}

.fa-star {
    color: gray;
}

.fa-star.checked {
    color: gold;
}

@media (min-width: 768px) {
    .col-md {
        flex: 1 0 0%;
    }

    .col-md-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .col-md-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-md-7-5 {
        flex: 0 0 auto;
        width: 64.8888888%;
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-md-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
